@import "normalize.css";
$background-color:#333;
$text-color:#333;
$border-color:#dedede;
$light-color:lighten($border-color, 50%);
$med-color:#fff;
$text-contrast-color:#f64;
$max-page-width:1200;
$columns:12;
$column-width:$max-page-width/$columns;
$column-padding:1.42rem;
@mixin column($amout,$context:$max-page-width,$padding:$column-padding) {
    width: percentage(($column-width*$amout)/$context);
    padding: $padding;
}

@mixin breakpoint($size) {
    @media only screen and (max-width:$size) {
        @content;
    }
}

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: $background-color;
  color: $text-color;
  a,a:visited {
      color: $text-contrast-color;
  }
}

.container {
    margin: 0 auto;
    max-width: $max-page-width+px;
    -webkit-box-shadow: 0 0 2px #fff;
    -ms-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background-color: $med-color;
}

header {
    margin: 0;
    @include column(12);
    border-bottom: 1px solid $border-color;
    h1 {
        margin: 0;
        padding: 0;
    }
}

h1,h2 {
    color: #000;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    color: $text-contrast-color;
}

h4 {
    font-size: 12px;
    color:#ccc;
}

#main {
    margin: 0;
    float: left;
    @include column(12,$padding: 0);
    background-color: $light-color;
}

#content {
    float:left;
    @include column(8,$padding: 0);
    @include breakpoint(770px) {
        clear: left;
        @include column(12,$padding:0);
    }
    article {
        @include column(12);
    }

    p {
        padding: 1rem;
        line-height: 1.4rem;
    }

    figure {
        @include column(5);
        min-width: 240px;
        float: right;
        border: .5rem solid $med-color;
        border-bottom: none;
        img {
            max-width: 100%;
            margin: 0;
        }

        figuration {
            padding: 0;
            margin: 0;
            text-align: center;
            background-color: #fff;
        }
    }

    #reviews {
        border-top: 1px solid $border-color;
        @include column(12);

        article {
            padding: 18px 20px 0 20px;
            background-color: #fff;
            border: 1px solid  $border-color;
            border-bottom: 4px double $border-color;
            margin-bottom: 0rem;
        }

        h3 {
            border-bottom: 1px solid $border-color;
            padding-bottom: .78rem;
            margin: 0;
        }
        p {
            padding: 0;
        }
    }
}

aside {
    height:53rem;
    float: left;
    @include column(4);
    @include breakpoint(770px) {
        clear: left;
        height: auto;
        @include column(12);
        border-top: 1px solid  $border-color;
    }
    background-color: #f4f1ef;
    border-left: 2px solid $border-color;

    h2 {
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        padding: 0;
        line-height: 1rem;
        li {
            line-height: 1.3rem;
        }
    }
}

footer {
    @include column(12);
    text-align: center;
    background-color: $med-color;
    border-top: 1px solid $border-color;

    #phuse-logo {
        float: right;
        position: relative;
        top: -6px;
        width: 44px;
        height: 30px;
        background: url(logo.png) no-repeat;
    }

    h4 {
        margin: 0;
    }
}

// @media (max-width:768px) {
//     aside {
//         float: none;
//         clear: both;
//         width: 100%;
//     }
// }
